CARDIO_APP_ENV=production
CARDIO_ANALYSIS_EXECUTION_MODE=queue
CARDIO_ANALYSIS_PROVIDER=closed_source
CARDIO_LLM_API_BASE_URL=
CARDIO_LLM_API_KEY=
CARDIO_LLM_MODEL=
CARDIO_LLM_PROMPT_VERSION=v1
CARDIO_LOCAL_LLM_BASE_URL=
CARDIO_LOCAL_LLM_MODEL=
CARDIO_MQTT_HOST=host.docker.internal
CARDIO_MQTT_PORT=1883
CARDIO_MQTT_USERNAME=
CARDIO_MQTT_PASSWORD=
CARDIO_MQTT_TOPIC_PREFIX=cardio
CARDIO_ADMIN_TOKEN=change-me
CARDIO_ADMIN_WEB_API_BASE_URL=http://182.254.220.56:8000
